$def with (producto)
<form class="p-6 flex items-center justify-center" method="POST" action="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-bold text-xl text-gray-600">Actualizar Producto</h2>
        <div class="card bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="row">
            <div class="col-lg-12">
              <p class="font-weight-bold text-lg">Detalles del producto</p>
            </div>
            $for dato in producto:
            <div class="col-lg-12">
              <input value="$dato['id_producto']" type="hidden" id="producto" name="producto"></input>
              <div class="row">
                <div class="col-md-12">
                  <label for="nombre_producto">Producto</label>
                  <input type="text" name="nombre_producto" id="nombre_producto" class="form-control" value="$dato['nombre']" placeholder="Tu producto" required/>
                </div>
                <div class="col-md-12">
                  <label for="descripcion" class="block text-sm font-medium leading-6 text-gray-900">Descripción</label>
                  <textarea id="descripcion" name="descripcion" rows="3" class="form-control" placeholder="Escribe una descripción del producto" required>$dato['descripción']</textarea>
                </div>
                <div class="col-md-9">
                  <label for="precio">Precio</label>
                  <input type="number" name="precio" id="precio" class="form-control" value="$dato['precio']" placeholder="Precio del producto" required/>
                </div>
                <div class="col-md-3">
                  <label for="existencia">Existencia</label>
                  <input type="number" name="existencia" id="existencia" class="form-control" value="$dato['existencias']" placeholder="Existencias del producto" required/>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="d-flex justify-content-end align-items-center">
                    <button type="submit" class="btn btn-info">Actualizar</button>
                    <a href="/" class="btn btn-danger ml-2">Cancelar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
