<form class="p-6  flex items-center justify-center" method="POST" action="">
  <div class="container">
    <div>
      <h2 class="font-weight-bold text-xl text-gray-600">Insertar Producto</h2>
      

      <div class="bg-white rounded shadow p-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-weight-bold text-lg">Detalles del producto</p>
          </div>

          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-2">
              <div>
                <label for="nombre_producto" class="form-label">Producto</label>
                <input type="text" name="nombre_producto" id="nombre_producto" class="form-control" value="" placeholder="Tu producto" required/>
              </div>

              <div>
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea id="descripcion" name="descripcion" rows="3" class="form-control" placeholder="Escribe una descripción del producto" required></textarea>
              </div>

              <div>
                <label for="precio" class="form-label">Precio</label>
                <input type="number" name="precio" id="precio" class="form-control" value="" placeholder="Precio del producto" required/>
              </div>

              <div>
                <label for="existencia" class="form-label">Existencias</label>
                <input type="number" name="existencia" id="existencia" class="form-control" value="" placeholder="Existencia del producto agregado" required/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
      </div>
    </div>
  </div>
</form>
