$def with (content)
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body class="m-0 p-0 font-sans bg-gray-100">
  <header class="bg-white">
    <div class="grid grid-cols-2 gap-8 p-5">
      <div class="flex items-center">
        <a>Productos</a>
      </div>
      <div class="flex items-center space-x-4">
        <a href="/insertar" class="text-[#265301] hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498] active:bg-[#265301] active:text-[#cdfeaa] text-2xl">Insertar</a>
      </div>
    </div>
  </header>
  <hr class="border-2 border-black">
  <div class="flex flex-col justify-center items-center mt-5">
    $:content
  </div>
</body>
</html>
