$def with (content)
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
    @layer utilities {
      .grid_two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
      .border {
        border-bottom: 1px solid
      }
      .border_table {
        border: 2px solid rgb(140 140 140);
      }
      .border_thd {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
      }
    }
  </style>

</head>
<body class="m-0 p-0 font-sans bg-gray-100">
  <header class="bg-white">
    <div class="grid_two g-[32px] p-5">
      <div class="flex flex-row justify-around text-[35px] font-bold">
          <a href="/">
            Productos
          </a>
      </div>
      <div class="flex flex-row justify-around items-center">
        <div class="flex flex-row justify-around items-center text-xl">
          <a href="/insertar" class="text-[#265301] outline-none no-underline pr-[1px] py-0.5 pb-0
          hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498]
          active:bg-[#265301] active:text-[#cdfeaa] text-2xl">Insertar</a>
        </div>
        <!-- 
          <a href="/creditos" class="text-[#265301] outline-none no-underline pr-[1px] py-0.5 pb-0
          hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498]
          active:bg-[#265301] active:text-[#cdfeaa] text-2xl">Créditos</a>
        </div>
      -->
    </div>
  </header>
  <hr class="border-2 border-black">
  <div class="flex flex-col justify-center items-center mt-5">
      $:content
</div>
</body>
</html>